$theme-colors: (
    'primary': #696463,
    'logo-blue': #0FBDE5,
    'dark-blue': #005B9C,
    'bg-color': #ddd6d3,
    'light-yellow': #FDD8B5
);

body, html {
    overflow-x: hidden;
    background-color: #ddd6d3;
    background-image: -webkit-linear-gradient(150deg, #eee2e0 35%, #f8f7f4 35%);
    min-height: 100%;
};

@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
